<!DOCTYPE html>
<html>
    <head>
        <title>RoboMed</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/asserts/css/uikit.min.css" />
        <script src="/asserts/js/uikit.min.js"></script>
        <script src="/asserts/js/uikit-icons.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="/asserts/js/vue.js"></script>
        <link rel="manifest" href="/manifest.json">
        <link rel="shortcut icon" href="/asserts/img/touch/128.png" type="image/png">
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </head>


    <body>


<div id="app">
        <div id="vk-dimer" v-if="notAuth" style="position: fixed; z-index: 222; top: 0; left: 0; height: 100vh; width: 100vw; background: #fff; padding-top:40vh">
                <div class="uk-flex uk-flex-center uk-vertical-align">
                        <div> <button v-on:click="vklogin" class="uk-button uk-vertical-align uk-button-primary">Sign In with <i class="fab fa-vk"></i></button></div>
                    </div>
        </div>
                <div class="sider uk-background-secondary" style="position: fixed; width: 60px; height: 100%; left: 0; z-index: 999;">
                        <ul id="nav-ul-main" style="color: #fff; list-style: none; padding: none !important; font-size: 30px; float: right; margin-right: 5px; margin-top: 60px;">
                            <a href="/food"><li class="grey-hover"><i class="fas fa-utensils"></i></li></a>
                            <a href="http://t.me/robomed_bot"><li class="grey-hover"><i  class="fas fa-comments " style="color: #fff"></i></li></a>
                            
                            <a href="/calendar"><li><i class="far fa-calendar-alt grey-hover" style="color: #fff"></i></li></a>
                            <a href="#"><li><i class="fas fa-users grey-hover" style="color: #fff"></i></li></a>
                            <li><i class="fas fa-cog grey-hover" style="color: #fff"></i></li>

                            <a href="/"> <li style="position: absolute; bottom: 5px; left: 5px;"><i class="fas fa-sign-out-alt"></i></li></a>

                            
                        </ul>
                            
                            
            
                        </ul>
                    </div>
                        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" style="padding-left: 40px;" uk-grid>
                                <div style="max-width:600px;">
                                            <img :src="photo_max" style="width:100%;"> 
                                            <div style="text-align: center">
            
                                                    <div id="vk-profile-card" class="uk-card uk-card-body" style="background: #f53730; color: white;">
                                                            <h3 class="uk-card-title" style="color: white; background: #555;  border-radius: 5px;">{{first_name}} {{last_name}}</h3>
                                                            <label>Pulse: 75</label><br>
                                                            <label>Weight: 61<i class="fal fa-plus-hexagon"></i></label><br>
                                                            <label>Symptoms: No added<i class="fal fa-plus-hexagon"></i></label>

                                                            <br>
                                                    
                                                        </div>
                                                        
                                                        <div class="uk-card uk-card-secondary uk-card-body" style="background: #555;">
                                                                <label>Please add Symptoms:</label>
                                                                <div class="uk-margin">
                                                                        <input id="lcity" class="uk-input" type="text" placeholder="" v-bind:value="city.title" >
                                                                    </div>
                                                                    <p uk-margin>
                                                                            <a class="uk-button uk-button-default" href="#">Добавить симтом</a>
                                                                    </p>
                                                        </div>

                                         
                                            
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-padding uk-light" style="background: #333; min-height: 100vh;">
                                        <legend class="uk-legend"> История болезней </legend>
                                        <legend class="uk-legend"> <i class="fas fa-plus-circle"></i> </legend>


                                    </div>
                                    
                                </div>
                            </div>
        </div>

      
                
    </div>
            </body>
</html>
<script>
    let query_url = {}
    let ul = window.location.href
    let ul_ar = ul.split('/');
    let uri = ul_ar[ul_ar.length - 1]
    let data_url_str = uri.split('&');
    for(var i = 0; i < data_url_str.length; i++) {
        let q = data_url_str[i].split('=');
        query_url[q[0]] = q[1]
    }
      if ( ul.indexOf('sign_up') != -1) {
        this.dsign = false;
        UIkit.switcher("#sw1").show(1);
      }
    query = query_url;

    let url = "http://localhost:8080";
    let vkScope = "photos,notes,pages,status,offers,questions,wall,groups,email,notifications,stats,ads,offline,docs,pages,stats,notifications";
    let vkAuthLink = "https://oauth.vk.com/authorize?client_id=5547969&display=page"+"&scope=" + vkScope + "&response_type=token"+"&redirect_uri="+ url;
    
    function getINFO(link, vm) {
                var callbackResponse = (document.URL).split("#")[1];
                var responseParameters = (callbackResponse).split("&");
                var parameterMap = [];
                for (var i = 0; i < responseParameters.length; i++) {
                    parameterMap[responseParameters[i].split("=")[0]] = responseParameters[i].split("=")[1];
                }
                if (parameterMap.access_token !== undefined && parameterMap.access_token !== null) {
                    jsonp(link, function(userInfo) {
                        userInfo = userInfo.response[0];
                        setData(userInfo, vm);
                    });
                } else {
                    alert("Ошибка авторизации в ВК");
                }
                function jsonp(url, callback) {
                    var callbackName = 'jsonp_callback_' + Math.round(100000 * Math.random());
                    window[callbackName] = function(data) {
                        delete window[callbackName];
                        document.body.removeChild(script);
                        callback(data);
                    };

                    var script = document.createElement('script');
                    script.src = url + (url.indexOf('?') >= 0 ? '&' : '?') + 'callback=' + callbackName;
                    document.body.appendChild(script);
                }
            }

            function setData(dataObj) {
                console.log(dataObj);
                vm.notAuth = false;
                vm.photo_max = dataObj.photo_max;
                vm.first_name = dataObj.first_name;
                vm.first_name = dataObj.first_name;
                vm.last_name = dataObj.last_name;
                vm.city = dataObj.city.title;
            }


    var vm = new Vue({
        el: "#app",
        created: function () {
            if (query["#access_token"] != undefined) {
                Cookies.set('auth_link', window.location.href, { expires: 7 });
                var getDataUrl = 'https://api.vk.com/method/users.get?client_id=5547969&params[user_ids]='+ query['user_id']+'&v=5.52&fields=photo_id,%20sex,%20bdate,%20city,%20country,%20home_town,%20has_photo,%20photo_50,%20photo_100,%20photo_200_orig,%20photo_200,%20photo_400_orig,%20photo_max,%20photo_max_orig,%20online,%20domain,%20has_mobile,%20contacts,%20site,%20education,%20universities,%20schools,%20status,%20last_seen,%20followers_count,%20common_count,%20occupation,%20nickname,%20relatives,%20relation,%20personal,%20connections,%20exports,%20wall_comments,%20activities,%20interests,%20music,%20movies,%20tv,%20books,%20games,%20about,%20screen_name,%20maiden_name,%20career&access_token=' + query["#access_token"];
                console.log(getDataUrl)
                getINFO(getDataUrl, vm)
            }
        },
        data: {
            "notAuth": true,
            "photo_max": '',
            "first_name": '',
            "last_name": "",
            "city": ""

        },
        methods: {
            vklogin: function(){
                location.href = vkAuthLink;
            }
        }
    })
</script>
<link rel="stylesheet" href="/asserts/css/my.css">





